@charset "utf-8";

html {
    font-size: 62.5%;
}

body {
    font-family: "Quicksand", "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro",
        "Hiragino Maru Gothic Pro";
}

.header_container {
    margin: 0 auto;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 50px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
}

.logo img {
    width: 40%;
}

.header_nav_list ul {
    display: flex;
    justify-content: center;
}
.header_nav_list li {
    margin-right: 25%;
    font-size: 3rem;
}

.header_container_second {
    margin-top: 325px;
    text-align: center;
    position: relative;
}

/* メインタイトル h1 */

.fv_border {
    border-width: 4rem 0rem 0rem 0rem;
    border-style: solid;
    border-color: #ffff78;
}

.title_text {
    font-size: 3rem;
    margin-bottom: 30px;
}

.header_container_second h1 img {
    width: 540px;
    margin-top: -80px;
}

/* 8角形 */

.octagon img {
    width: 650px;
    position: absolute;
    left: 50%;
    top: 500px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* scroll */

.triangle img {
    position: absolute;
    margin: 0 auto;
    width: 45px;
    top: 700px;
    left: 50%;
    transform: translateX(-50%);
}

/* ーーーーーーーここからメインーーーーーーー */

main {
    margin-top: 300px;
}

.container {
    max-width: 1000px;
    padding: 0 1rem;
    box-sizing: border-box;
    margin: 0 auto;
}

/* コンテンツタイトル */

main .container h2 {
    font-size: 3.5rem;
}

.title_border {
    height: 7px;
    background-color: #ffff78;
    border: none;
    border-radius: 20px;
    width: 10%;
    margin: auto;
}

main .container h3 {
    font-size: 4rem;
    margin-top: 20px;
}

.title_wrap {
    text-align: center;
    margin: 0 auto 110px;
    padding-top: 200px;
}

/* ーーーーーーーabout わたしについてーーーーーーー */

.about_inner {
    display: flex;
    margin: 0 auto 70px;
}

.about_inner img {
    width: 30%;
    height: 30%;
    margin-right: 5%;
}

.about_inner p {
    font-size: 2.8rem;
    line-height: 1.5;
    width: 50%;
    font-feature-settings: "palt";
}

/* ーーーーーーーabout わたしについてsubーーーーーーー */
.about_main {
    margin: 0;
}

.about_inner_sbu {
    text-align: center;
}

.about_inner_sbu p {
    font-size: 3.9rem;
    line-height: 1.75;
    font-feature-settings: "palt";
    text-align: left;
}

/* view_more 共通箇所 */

.view_more {
    position: relative;
    width: 290px;
    margin: 0 auto;
}

.view_more_about {
    margin-right: 0;
}

.view_more img {
    width: 60%;
}

.view_more p {
    font-size: 2rem;
    position: absolute;
    top: 45%;
    height: 50%;
    padding-left: 50px;
}

.stickarrow {
    width: 65%;
    height: 40px;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    transform: skew(45deg);
    position: absolute;
    top: 50%;
    left: -2%;
}

/* ーーーーーーーwork 仕事ーーーーーーー*/
/* figcaptionはview moreで飛んでから制作期間、使用ツールを表示 */
.Work .figcaption {
    display: none;
}

.work_img {
    margin-bottom: 80px;
}

/* work始めにくる横長のHP制作イメージ */
.work_top img {
    width: 100%;
    margin-bottom: 5px;
}

/* 下2枚、横並びのイメージ */
.work_sub {
    display: flex;
}

.work_first img {
    width: 98%;
    margin-right: 10px;
}

.work_second img {
    width: 100%;
}

.work_second {
    justify-content: flex-end;
}

/* workのviewmoreはセンター揃え */
.view_more {
    margin-top: 4.5rem;
}

/* ーーーーーーーwork 仕事subーーーーーーー */

.work_main {
    margin: 0;
}

.work_inner {
    width: 60%;
    margin: 0 auto;
}

.title_wrap_work {
    text-align: center;
    margin: 0 auto 140px;
    padding-top: 250px;
}

.work_sub_column {
    display: block;
    flex-direction: column;
}

.work_img img {
    width: 100%;
    margin: 0 auto;
}

/* 制作期間、使用ツール説明など */
.work_figcaption p {
    font-size: 3.5rem;
    line-height: 1.75;
}

/* デザインカフェへのボタン */
.cafe_btn {
    color: #fff;
    background-color: #333;
    width: 50%;
    text-align: center;
}

.cafe_btn:hover {
    color: #ffffff;
    background-color: #ffff78;
}

.cafe_btn_radius {
    border-radius: 100vh;
}

.cafe_btn p {
    font-size: 2.5rem;
}

/* ーーーーーーーskill_subーーーーーーー */

.skill {
    width: 100%;
}

.skill_wrap {
    display: flex;
    justify-content: space-between;
}

.skill_wrap_smallwrap {
    width: 33%;
}

.skill_wrap_smallwrap img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.figcaption h4 {
    font-size: 3.5rem;
    margin-top: 30px;
}

.figcaption p {
    font-size: 2.4rem;
    line-height: 1.75;
    margin-top: 15px;
    font-feature-settings: "palt";
}

.skill_wrap_smallwrap img.adobe {
    width: 50%;
    height: 50px;
    border-radius: 0%;
    justify-self: start;
}
/* ーーーーーーーcontact お問い合わせーーーーーーー */

input[type="text"],
input[type="email"],
textarea {
    border: 2px solid #333;
    background-color: #ffffff;
    width: 100%;
    margin: 0.5rem 0rem 3rem;
    padding: 4px 4px;
    border-radius: 5px;
    height: 5rem;
}

.inp_list {
    margin: 0 auto;
    max-width: 50%;
    justify-content: center;
}

.inp_list p {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}

.send_bt {
    text-align: center;
    max-width: 25%;
}

input[type="submit"] {
    background-color: #ffff78;
    color: #333;
}

.contact_link a:hover {
    text-decoration: underline;
}
.contact_link img {
    width: 100%;
}

.contact_link p {
    font-size: 3.5rem;
    text-align: center;
    margin-top: -90px;
}

/* ーーーーーーーfooterーーーーーーー */

footer {
    background-color: #ffff78;
    background: linear-gradient(
        175deg,
        #ffffff 0%,
        #ffffff 50%,
        #ffff78 50%,
        #ffff78 100%
    );
    padding-bottom: 55px;
    margin-top: 225px;
}

.tankyou {
    font-size: 10rem;
    color: #333;
    margin-left: 2.6%;
    background: url(image/thankyou@2x.png) no-repeat left center/contain;
}

.snsicon {
    display: flex;
    margin-left: 60%;
    margin-bottom: -30px;
}

.snsicon img {
    width: 3rem;
    margin-right: 4rem;
}

.copy {
    font-size: 2.5rem;
}

/* TOPへボタン */

.to_top {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.to_top img {
    width: 55px;
}

/* ハンバーガーメニュー */

.sp_nav {
    display: none;
}
/* スマホボタン消す */
.sp_menu_btn {
    display: none;
}

@media screen and (max-width: 1200px) {
    /* スマホ版メニュー  */

    .header_nav_list {
        display: none;
    }

    .sp_menu_btn {
        display: block;
        position: absolute;
        right: 10px;
        top: 130px;
        height: 30px;
        z-index: 10000;
        cursor: pointer;
    }

    .sp_menu_btn span {
        background-color: #333;
        width: 75px;
        height: 5px;
        display: block;
        position: relative;
        top: 17px;
        transition: 0.3s;
    }

    .sp_menu_btn span::before,
    .sp_menu_btn span::after {
        content: "";
        width: 75px;
        height: 5px;
        display: block;
        background-color: #333;
        position: absolute;
        transition: 0.3s;
    }

    .sp_menu_btn span::before {
        bottom: 20px;
    }

    .sp_menu_btn span::after {
        top: 20px;
    }

    .open span {
        background: transparent;
    }

    .open span::before {
        transform: rotate(45deg);
        bottom: 0px;
    }

    .open span::after {
        transform: rotate(135deg);
        top: 0px;
    }

    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        background: #ffff78;
        width: 100%;
        z-index: 9999;
    }

    .sp_nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .sp_nav li {
        color: #333;
        text-align: center;
        font-size: 5rem;
        margin: 1em 0;
    }

    /* 8角形 */

    .octagon img {
        width: 750px;
        position: absolute;
        left: 50%;
        top: 760px;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    /* scroll */

    .triangle img {
        position: absolute;
        margin: 0 auto;
        width: 65px;
        top: 1025px;
        left: 50%;
        transform: translateX(-50%);
    }

    /* メインタイトル h1 */

    .fv_border {
        border-width: 5rem 0rem 0rem 0rem;
        border-style: solid;
        border-color: #ffff78;
    }

    .title_text {
        font-size: 3rem;
        margin-bottom: 60px;
    }

    .header_container_second h1 img {
        width: 600px;
        margin-top: -88px;
    }

    .title_wrap {
        text-align: center;
        margin: 0 auto 140px;
        padding-top: 200px;
    }

    /* view_more  */

    .view_more {
        position: relative;
        width: 290px;
        margin: 0 auto;
        margin-top: 3rem;
    }

    .view_more img {
        width: 70%;
    }

    .view_more p {
        font-size: 3rem;
        position: absolute;
        top: 45%;
        height: 50%;
        padding-left: 50px;
    }

    .stickarrow {
        width: 80%;
        height: 40px;
        border-bottom: 1px solid #333;
        border-right: 1px solid #333;
        transform: skew(45deg);
        position: absolute;
        top: 50%;
        left: -2%;
    }

    /* about_私について */

    .about_inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about_inner img {
        width: 30%;
        height: 30%;
        margin: 0 auto;
    }

    .about_inner p {
        font-size: 2.1rem;
        line-height: 1.75;
        width: 50%;
        margin: 30px auto 10px;
        font-feature-settings: "palt";
    }

    .about_inner_sbu p {
        font-size: 3rem;
        line-height: 1.6;
        font-feature-settings: "palt";
    }

    /* work_仕事 */

    .work_top.work_sub {
        max-width: 100%;
        width: 300px;
    }

    /* .Work .figcaption {
        display: block;
    } */

    .work_first img {
        width: 100%;
        margin: 0 auto;
    }

    .work_sub {
        display: block;
    }

    .work_second {
        display: none;
    }

    /* スキル＿出来ること */

    .skill_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skill_wrap_smallwrap {
        max-width: 100%;
        width: 300px;
        margin-bottom: 35px;
    }

    .skill_wrap_smallwrap img.adobe {
        width: 25%;
        height: 20px;
        border-radius: 0%;
    }

    .work_figcaption p {
        font-size: 2.5rem;
        line-height: 1.75;
    }

    .cafe_btn p {
        font-size: 2rem;
    }

    /* ーーーーーーーcontact お問い合わせーーーーーーー */

    .inp_list p {
        font-size: 1.5rem;
    }

    .tankyou {
        font-size: 10rem;
        color: #333;
        margin-left: 2.6%;
        background: url(image/thankyou@2x.png) no-repeat left center/contain;
    }

    .snsicon {
        display: flex;
        margin-left: 60%;
        margin-bottom: -30px;
    }

    .snsicon img {
        width: 2rem;
        margin-right: 2rem;
    }

    .copy {
        font-size: 1.8rem;
    }
    .to_top img {
        width: 80px;
    }
}

@media screen and (max-width: 767px) {
    .header_container {
        padding-top: 60px;
    }

    .sp_menu_btn {
        top: 60px;
    }

    .sp_menu_btn span {
        width: 60px;
    }

    .sp_menu_btn span::before,
    .sp_menu_btn span::after {
        width: 60px;
    }
    /* 8角形 */

    .octagon img {
        width: 270px;
        position: absolute;
        left: 50%;
        top: 350px;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    /* scroll */

    .triangle img {
        position: absolute;
        margin: 0 auto;
        width: 30px;
        top: 435px;
        left: 50%;
        transform: translateX(-50%);
    }

    /* メインタイトル h1 */

    .header_container_second {
        margin-top: 210px;
        position: relative;
    }

    .fv_border {
        border-width: 2.5rem 0rem 0rem 0rem;
        border-style: solid;
        border-color: #ffff78;
    }

    .title_text {
        font-size: 2rem;
        margin-bottom: 15px;
    }

    .header_container_second h1 img {
        width: 260px;
        margin-top: -40px;
    }

    /* コンテンツタイトル */

    .main {
        margin-top: 150px;
    }

    main .container h2 {
        font-size: 3rem;
    }

    .title_border {
        height: 7px;
        background-color: #ffff78;
        border: none;
        border-radius: 20px;
        width: 10%;
        margin: auto;
    }

    main .container h3 {
        font-size: 3rem;
        margin-top: 20px;
    }

    .title_wrap {
        text-align: center;
        margin: 0 auto 50px;
        padding-top: 100px;
    }

    .main .container h3 {
        font-size: 3rem;
        margin-top: 10px;
    }

    /* view_more  */

    .view_more {
        position: relative;
        width: 290px;
        margin-top: 3rem;
        text-align: center;
    }

    .view_more_about {
        margin-right: 0;
    }

    .view_more img {
        width: 60%;
    }

    .view_more p {
        font-size: 2rem;
        position: absolute;
        top: 45%;
        height: 50%;
        padding-left: 50px;
    }

    .stickarrow {
        width: 55%;
        height: 30px;
        border-bottom: 1px solid #333;
        border-right: 1px solid #333;
        transform: skew(45deg);
        position: absolute;
        top: 45%;
        left: 10%;
    }

    .about_inner {
        margin: 0 auto 30px;
    }

    .about_inner p {
        font-size: 1.7rem;
        line-height: 1.6;
        width: 80%;
        font-feature-settings: "palt";
    }

    .about_inner_sbu p {
        font-size: 1.5rem;
        line-height: 1.3;
        font-feature-settings: "palt";
    }

    .work_top {
        margin-bottom: 30px;
    }

    .figcaption p {
        font-size: 1.8rem;
        line-height: 1.5;
    }

    .work_figcaption p {
        font-size: 1.8rem;
        line-height: 1.5;
    }

    .cafe_btn p {
        font-size: 1rem;
    }

    /* contact お問い合わせ */

    .inp_list p {
        font-size: 1rem;
    }

    .tankyou {
        font-size: 3rem;
        color: #333;
        margin-left: 2.6%;
        background: url(image/thankyou@2x.png) no-repeat left center/contain;
    }

    footer {
        margin-top: 100px;
    }

    .snsicon {
        display: flex;
        margin-left: 50%;
        margin-bottom: -45px;
    }

    .snsicon img {
        width: 1rem;
        margin-right: 1rem;
    }

    .copy {
        font-size: 1rem;
    }

    .to_top {
        position: fixed;
        right: 20px;
        bottom: 35px;
    }

    .to_top img {
        width: 50px;
    }
}
